- if (title == undefined)
  - title = site_name
- else
  - title = title += ' | '+site_name
- var arg = currentUrl.split('/')
- var layout_class = []
- layout_class.push(arg[1])
- function pr(object) { return JSON.stringify(object) }

doctype html
html
  head
    title=site_name
    != renderStyles()
  
  body(class = "#{layout_class}")
    - var caseToken = helper.rand(12)
    input#caseToken(type="hidden" name="caseToken" value=caseToken)
    block content

    != renderJs()